* {
    margin: 0;
    padding: 0;

.pagina{
    background-color: rgb(255, 255, 255) ;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 
        auto 1fr auto;

        .footer{
            background-color: rgb(143, 143, 143) ;
            text-align: center;
            padding: 14px 0;
        }
    }
}



